
.Sani-fluid .col-md-6{
    display: flex;
    justify-content: center;
        flex-direction: column;
     padding: 120px 8%;
    
}
.Sani-fluid .col-md-6 .para0{
   color: yellow;
   font-size: 1.1rem;
    
}

.Sani-fluid .col-md-6 h2{
    font-weight: 700;
    padding-right: 20px;
    font-weight: 900;
}

.Sani-fluid .col-md-6 .para1{
    font-weight: 600;
    text-align: justify;
    padding: 0%;
}

.Sani-fluid .col-md-6 .para2{
    margin-top: 20px; 
    padding: 0;
    text-align: justify;
}
.Sani-fluid {
    padding: 12px 30px;
    color: blue;
    background: linear-gradient(to right, blue 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all 0.4s ease;
}

.Sani-fluid:hover{
    background-position: bottom left ;
    color: rgb(251, 251, 251);
}

#Kumar1{
    background-color: rgb(253, 253, 253);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    padding: 0px 20px;
}
#Kumar1 .w{
    background-color: blueviolet;
    height: max-content;
    padding: 10px 40px;
    filter: drop-shadow(10px 10px 30px black);
}
#Kumar1 img{
    height: 200px;
    width: 200px;
    display: block;
    margin: 0 auto;

}
#Kumar1 p{
    margin-top: 20px;
    color: #FFFFFF
}
#Kumar1 Button{
    border: none;
    background-color: transparent;
    text-decoration:underline;
    text-underline-offset: 6px;
    font-size: 1.3rem;
    transition: .4s;
}

#Kumar1 Button:hover{
    color:#FF8C00;
    font-size: 1.5rem;
    transition: .4s;
}
#Kumar1 i{
    height: 10px;
    font-size: 1rem;
    font-weight: bold;

}   

.Our-fluid{
    filter: drop-shadow(10px 0px 15px rgb(0, 0, 0));
    height: max-content;
    position: relative;

}

.Our-fluid .card1 .col-md-6{
    padding: 20px;
    background-color: rgb(237, 238, 242);
    height: 440px;
    width: 400px;
    border-radius: 3%;
    position: relative;
    margin-top: 40px;
    box-shadow: 0 10px 25px rgba(59, 130, 246, 0.15);
    transition: 0.5s;
   
}
.Our-fluid .card1 .col-md-6:hover{
   box-shadow:
    8px 8px 16px #d1d4d8,
    -8px -8px 16px #000000;
    
    transition: 0.5s;
 
}
.Our-fluid .card1{
   padding: 30px;
   background-color: rgb(237, 238, 242);
    display: flex;
    justify-content: space-evenly;
}

.Our-fluid .card1 img{
  width: 250px;
  height: 250px;
  padding-right: 30px;
  margin-top: 40px; 
  display: block;
  margin: 0 auto;
}
.Our-fluid .col-md-4 img{
 height: max-content;
 width: 540px;
  position: absolute;
    transition: 0.5s;

}
.Our-fluid .imge .original{
    z-index: 1;
}

.Our-fluid .imge .cover{
    z-index: -1;
}
.imge .col-md-4 .cover{
   position: absolute;
    top: 50px;
    left: 80px;
    width: 150px;
    background-color: #000000;
}
.imge .col-md-4 .original{
     width: 100%;
    display: block;
}
.rest-fluid{
}
.rest-fluid .mn{
    background-color: rgb(3, 84, 3);
    color: #FFFFFF;
    width: 100%;
    height: 200px;
   
}
.rest-fluid .no{
   display: flex;
   justify-content: center;
   width: 100%;
   
}
.rest-fluid .h1{
    margin-top: 30px;
    
}
.rest-fluid .inputdiv{
    padding: 10px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    margin-top: 30px;

}
.rest-fluid .inputdiv input{
    margin-left: 50px;
}

.rest-fluid .inputdiv .Kumar11{
    margin-left: 50px;
}

.massage{

}
.massage h1{
    text-align: center;
    padding: 40px;
    font-weight: 900;
}
.massage .head img{
    height: max-content;
    width: 100%;
    padding: 0;
    filter: drop-shadow(20px 10px 20px black);
    display: block;
    margin: 0 auto;
     border: 2px solid black;
    border-radius: 50%;
}
.massage .head h3 ,h5{
    margin: 20px;
    text-align: center;
}
.massage img:hover{
   
}

.massage img{
    height: max-content;
    width: 100%;
    padding: 0;
}
.massage p{
   font-size: 1.2rem;
   text-align: justify ;
}
.massage .para1{
   font-size: 1rem;
   text-align: justify ;
    line-height: 1.7rem;

}
.massage button{
    border: 0;
    background-color: #E8F5E9;
    color: #1B5E20;
    font-size: 1.6rem;
    font-weight: 500;
}

.massage .msg1{
    padding: 0%;
}
.massage .msg1 img{
height: 550px;
}
.footer-fluid {
   padding: 30px;
   background-color: #020202;
    color: #FFFFFF;

}
.footer-fluid img{
    
    height:600px    ;
    width: 100%;
     transform: scaleX(-1);
    border-radius: 8px;
}
.footer-fluid a{
    font-size: 1.5rem;
    color: green;
     margin-left: 20px;

}
.footer-fluid i{
    font-size: 1.5rem;
    color: green;
    
}
.footer-fluid a{
    font-weight: 700;
     margin-left: 20px;
    
}
.footer-fluid i{
    font-weight: 700;
     margin-left: 20px;
    
}
.footer-fluid h2{
    font-weight: 700;
    margin-left: 20px;
    
}
.iframee{
    border-radius: 4px;
    height: 400px;
}
.media-fluid{
    background-color: cadetblue;
     transition: 0.5s;

}
.media-fluid h2{
    margin: 10px 20px;
    justify-content: center;
    transition: 0.5s;
    

}
.media-fluid .hi{
    display:block;
    justify-content: center;
    color: #FFFFFF;
}
.media-fluid .hi :hover{
    color: rgb(106, 242, 113);
    transition: 0.5s;

}